@import "tailwindcss";

@keyframes fadeInOut {
  0% { opacity: 0; transform: scale(0.8); }
  20% { opacity: 1; transform: scale(1.1); }
  40% { transform: scale(1); }
  80% { opacity: 1; }
  100% { opacity: 0; transform: scale(1); }
}

.playback-icon-enter {
  animation: fadeInOut 1.5s ease-in-out forwards;
}

.playback-icon-exit {
  animation: fadeInOut 0.5s ease-in-out reverse;
}